body{
    font-family:arial;
}

.flex_container{
    display:flex;
}

.flex_container .attacker, .flex_container .defender, .flex_container .factionAttacker, .flex_container .factionDefender, .flex_container .scenarioAttacker, .flex_container .scenarioDefender{
    flex-grow:1;
    flex:1;
}

.flex_container .defender{
    margin-left:10px;
}

.scenario_modifier_total_container .modifier_container{
    display:none;
}

.modifier_container{
    overflow:hidden;
    transition: height 1s; 
}

.modifiers{
    margin:10px 0;
}

.select_container{
    height:calc(25px * 3);
    margin-top:5px;
}

    .select_container select{
        display:block;
        margin-bottom:5px;
    }

.button_calculate{
    margin-top:10px;
}

.chart_container{
    margin-top:20px;
}

    .chart_container .chart{
        width:calc(100% - 20px);
        aspect-ratio: 8 / 5;
        background-color: antiquewhite;
        padding:30px 10px 10px 10px;
        display:flex;
        align-items:flex-end;
    }

    .bar{
        background-color:darkgoldenrod;
    }

    .bar.average{
        background-color:darkorange;
    }

        .bar .label{
            text-align:center;
            margin-top:-20px;
        }

        .bar .sublabel{
            font-size:10px;
            padding-left:5px;
            color:#888888;   
        }