body{
    font-family:arial;
}

input[type='text']{
    max-width: calc(100% - 10px);
}

select{
    /* max-width: calc(100% - 10px); */
    width:100%;
}

.container{
    max-width:100%;
}

.page_title{
    font-size:30px;
    font-weight:bold;
    margin:10px 0;
}

.note{
    margin:10px 0;
    font-size:12px;
}

.bold{
    font-weight:bold;
}

.label{
    color:#888888;
}

.unit_select_container{
    display:flex;
    max-width:806px;
    margin:0 auto;
    margin-top:20px;
}

    .unit_select_container .attacker{
        width:383px;
        padding:0 10px;
    }

        .unit_select_container .attacker .bold{
            /* padding-left:23px; */
        }
        .unit_select_container .attacker .select_container{
            /* padding-left:23px; */
        }

    .unit_select_container .defender{
        width:383px;
        padding:0 10px;
    }

        .weapon_container{
            width:100%;
            max-width:360px;
            margin:0 auto;
            /* padding-left:23px; */
        }

        .weapon_type_label{
            padding-bottom: 10px;
            margin-top:20px;
        }

            .weapon{
                padding: 10px;
                border: 1px solid #444444;
                position:relative;
                margin-left:23px;
            }

            .weapon+.weapon{
                border-top:0px;
            }

                .weapon_select{
                    position: absolute;
                    left: -27px;
                    top: calc(50% - 13px);
                    height: 13px;
                }

                    .weapon_label{
                        margin-bottom:5px;
                    }

                    .weapon_attribute{
                        display:inline-block;
                        width: calc(100% / 6);
                        max-width: 60px;
                    }

                    .weapon_tags_label{
                        margin-top:5px;
                    }

                    .weapon_tags{
                        width:100%;
                    }

                    .attacker_tags_label{
                        padding-bottom: 10px;
                        margin-top: 20px;
                        font-weight:bold;
                    }

                    .attacker_tags{
                        width:100%;
                    }

        .weapon_container_extra{
            display:none;
        }

        .defender_centered{
            width:100%;
            max-width:360px;
            margin:48px auto 0 auto;
        }

            .defender_stats{
                padding: 10px;
                border: 1px solid #444444;
                position:relative;
            }

            .defender_stats+.defender_stats{
                border-top:0px;
            }

                .defender_select{
                    position: absolute;
                    left: -27px;
                    top: calc(50% - 13px);
                    height: 13px;
                }

                    .defender_label{
                        margin-bottom:5px;
                    }

                    .defender_attribute{
                        display:inline-block;
                        width: calc(100% / 6);
                        max-width: 60px;
                    }

                    .defender_tags_label{
                        margin-top:5px;
                    }

                    .defender_tags{
                        width:100%;
                    }

.flex_container{
    display:flex;
    margin:10px 0;
    border:1px solid #DDDDDD;
    padding:10px;
    position:relative;
}

.flex_container .toggle{
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
    text-align:center;
    z-index:1;
    width:30px;
    height:30px;
    background-color: #444444;
    color: white;
    border-radius: 5px;
}

.flex_container .toggle:hover{
    background-color: #888888;
}

.flex_container .attacker, .flex_container .defender{
    flex-grow:1;
    flex:1;
}

.flex_container .attacker, .flex_container .defender{
    min-width: 0;
}

.flex_container .defender{
    margin-left:10px;
}

.flex_container{
    border:1px solid #DDDDDD;
    padding:10px;
}

.scenario_modifiers_title{
    margin-top:20px;
}

.scenario_modifier_total_container .modifier_container{
    display:none;
}

.scenario_modifier:not(.scenario_cover){
    display:none;
}

.scenario_modifier.alwaysShow{
    display:block;
}


.title{
    font-weight:bold;
    margin:5px 0px;
}
.subtitle{
    margin:5px 0px;
}

/* .flex_container:not(#mainStats){  */
.flex_container#modifiers{
    overflow:hidden;
    transition: height 1s, padding 1s;
    height:50px;
    padding: 0 10px;
}


/* .modifier_container{
    overflow:hidden;
    transition: height 1s, padding 1s;
    height:40px;
    padding: 0 10px;
} */

    .modifier_title{
        transition: opacity 1s;
        padding:16px 5px 14px 5px;
        height:20px;
        opacity:0;
    }

    .modifier_item{
        padding:10px 5px;
        border:1px solid #DDDDDD;
    }

    .modifier_item+.modifier_item{
        border-top:0px;
    }

.modifiers{
    margin:10px 0;
}

.select_container{
    height:calc(25px * 2);
    margin-top:5px;
}

#attackers_extra_select{
    display:none;
}

.defender .select_container{
    margin-bottom:20px;
}

    .select_container select{
        display:block;
        margin-bottom:5px;
    }

.button{
    background-color: #444444;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight:bold;
    padding:5px 10px;
    border-radius: 5px;
}

.button:hover{
    background-color: #888888;
}

.button.button_calculate{
    margin: 0 auto;
    padding: 15px 32px;
}

.information_container{
    border:1px solid #DDDDDD;
    margin: 10px 0;
    padding:10px;
}

.value{
    font-weight:bold;
}

.simulation_header{
    margin-bottom:10px;
}

.simulation_title{
    font-weight:bold;
    margin-top:10px;
}

.simulation_kill_perc{
    margin-top:10px;
}

.simulation_hazardous{
    margin-top:10px;
}

.chart_container{
    margin-top:20px;
}

    .chart_container .chart{
        width:calc(100% - 20px);
        max-width:1000px;
        margin:0 auto;
        aspect-ratio: 8 / 5;
        background-color: antiquewhite;
        padding:30px 10px 10px 10px;
        display:flex;
        align-items:flex-end;
    }

    .bar{
        background-color:darkgoldenrod;
    }

    .bar.average{
        background-color:darkorange;
    }

        .bar .label{
            text-align:center;
            margin-top:-20px;
        }

        .bar .sublabel{
            font-size:10px;
            padding-left:5px;
            color:#888888;   
        }

@media only screen and (max-width: 806px) {
    select{
        width:100%;
        max-width:auto;
    }

    .unit_select_container{
        display:block;
    }

    .unit_select_container .attacker{
        margin: 0 auto;
    }

    .unit_select_container .defender{
        margin: 20px auto 0 auto;
    }

    .defender_centered{
        margin:0 auto;
    }

    /* .weapon{
        margin-left:23px;
    } */
}